[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
pnet_packet = "0.35.0"
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.17"
x25519-dalek = { version = "2.0.1", features = ["serde"] }
